body { margin:0; padding:0; font-size: 12px;}

.map{
  position: absolute;
  top:0;
  width:100%;
  height: 100vh;
  z-index: 5;
}

// Colors
$colors: (
  green: (
    base: $teal,
    light: $lightGreen
  ),
  tan: (
    base: #D1B99C,
    light: #DAC7AF,
    dark: #64594D
  ),
  grey: (
    base: $darkGrey,
    light: $lightGrey
  ),
  blue: (
    base: #40B1F4
  ),
  orange: (
    base: $orange
  ),
  red: (
    base: $red
  ),
  purple: (
    base: $purple
  )
);




// fonts
$fonts: (
  montserrat: ('Montserrat', sans-serif),
  lato: ('Lato', sans-serif),
  work: ('Work Sans', sans-serif),
  titillium: ('Titillium Web', sans-serif),
  passion: ('Passion One', sans-serif)
);
