$orange: #FA8E4C;  
$green: #78BB36;  
$red: #EC1C24;  
$purple: #652D90;  
$cyan: #00ADEE;  
$teal: #00AB98;  
$lightGrey: #F6F6F6; //darkening on pressdown/click
$lightGreen: #F0F5EB;  //soft divider
$darkGrey: #808080; 