@function color($color, $tone: 'base') {
    @return map-get(map-get($colors, $color), $tone);
}

@function font($font){
    @return map-get($fonts, $font);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
