.list-header{
  transition: all 0.35s ease;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: color(green);
  align-items: center;
  height: auto;
  opacity: 1;
  z-index: 10;
  &.hidden{
    opacity: 0;
    z-index: -1;
    height: 0;
    padding: 0;
  }
}

.list-header i{
  //width: 10%;
  color: #fff;
  font-size: 2.2rem;
  padding: 0.5rem;
}

.list-header .fa-filter{
  text-align: left;
  cursor: pointer;
}

.list-header .fa-search{
  text-align: right;
}

.list-header input[type=text]{
  /*width: 85%;
  border: none;
  font-size: 1.15rem;
  font-family: font(work);
  font-weight: 100;
  padding: 0.25rem;*/
  width: 85%;
  border: none;
  font-family: font(work);
  font-weight: 300;
  padding: 0.25rem;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  border-radius: 25px;
  padding-left: 1.1rem;
}
