

.location-form{
  width: 100%;
  background-color: color(green);
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  text-align: center;
  margin-top: 25vh;
  padding: 1.5rem 1rem;
  /*@include mq(mobileLandscape){
    background-color: #0B5A92;
  };*/
}

/*.sidePanel{
  display:none;

  @include mq(small){
    display:block;
    width:20vh;

  }
}*/

.location-form form{
  margin: 0;
  padding: 0;
}

.location-form h1{
  font-family: font(titillium);
  color: #fff;
  font-size: 2.45rem;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 700;
}

.location-form input{
  width: 90%;
  border: none;
  font-family: font(work);
  font-weight: 400;
  padding: 0.25rem;
  font-size: 1.25rem;
  max-width:350px;
  margin: 1.25rem 0;
}

.location-form button{
  background: none;
  border: 3px solid #fff;
  font-family: font(work);
  color: #fff;
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

.location-form button.search-input-button-cap{
  width:32px;
  border: none;
  font-weight: 400;
  //padding: 0.25rem 0.25rem 0rem 0.25rem;
  height:32px;
  background-image:url("http://fillmurray.com/32/32");
  background-color:white;
  font-size: 1.25rem;
  margin: 1.25rem 0rem 0rem 0rem;
}

.error-message p{
  font-family: font(lato);
  color: #DC593C;
  font-size: 1.05rem;
  font-weight: 700;
}
