.location-form{
  background-color: color(green);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  text-align: center;
  margin-top: 50%;
  padding: 1.5rem 1rem;
}

.location-form form{
  margin: 0;
  padding: 0;
}

.location-form h1{
  font-family: font(lato);
  color: #fff;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 0;
}

.location-form input{
  width: 100%;
  border: none;
  font-family: font(lato);
  padding: 0.25rem;
  font-size: 1.45rem;
  margin: 1.25rem 0;
}

.location-form button{
  background: none;
  border: 3px solid #fff;
  font-family: font(montserrat);
  color: #fff;
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
  margin: 0;
}

.error-message p{
  font-family: font(lato);
  color: #DC593C;
  font-size: 1.05rem;
  font-weight: 700;
}
