.store-filter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
//background: #f6f6f6;
  padding: 1rem 25%;
  z-index: 20;
  box-sizing: border-box;
  background: #FFEEDB;
  background-image: url("../img/vaff-background-tile.png");
  background-repeat: repeat;

  &.hidden{
    z-index: -1;
    opacity: 0;
    padding: 0;
  }
}


.store-filter__toggles{
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  span{
    font-family: font(work);
    font-weight: 400;
    color: color(orange);
    font-size: 1rem;
    &:first-child{
      margin-right: 1.5rem;
    }
  }
  span i{
    margin-right: 3px;
  }
}

.store-filter h1{
  text-align: center;
  font-family: font(work);
  font-size: 2.25rem;
  font-weight: 700;
  color: color(orange);
  margin-top: 0;
  margin-bottom: 1rem;
}

.store-filter__group{
  margin-bottom: 2rem;
  color: color(grey);
}

.store-filter__group h2{
    font-family: font(work);
    font-weight: 500;
    font-size: 1.3rem;
    color: color(orange);
    margin: 0 0 0.5rem 0;
}

.store-filter__group label{
  font-family: font(work);
  font-weight: 400;
  font-size: 1rem;
}

.store-filter__group input{
  margin-right: 0.5rem;
}

.store-filter .checkbox{
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.store-filter__actions button{

  transition: all 0.35s ease;
  background-color: color(orange);
  color: #fff;
  font-family: font(work);
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: none;
  border-radius: 36px;
  margin: 1rem 0rem 0rem 1rem;
  min-width: 12rem;
  &:hover{
    background-color: darken(color(orange), 10);
  }
}

.store-filter__cancel button{
  display: inline-block;
  transition: all 0.35s ease;
  background-color: color(orange);
  color: #fff;
  font-family: font(work);
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1.3rem 4rem;
  border: none;
  border-radius: 36px;
  margin: 1rem 0rem 0rem 1rem;
  min-width: 75px;
  &:hover{
    background-color: darken(color(orange), 10);
  }
}
