.store-list{
  width: 100%;
  margin: 0;
  padding: 0;
}

.store{
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  @include clearfix;
  @include flexbox();
  @include flexdirection(row);
  @include justify(center);
  @include align(center);
}

.store .fa-map-marker{
  font-size: 2.5rem;
  color: color(green);
  width: 12%;
}

.store__info{
  width: 76%;
  word-wrap: break-word;
  color: color(grey);
  p, h2{
    margin: 0;
  }
  h2{
    font-family: font(work);
    font-weight: 500;
    //text-transform: uppercase;
    //letter-spacing: 1px;
    font-size: 1.1rem;
    color: color(green);
  }
  p{
    font-family: font(work);
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
  }
}

.store .fa-stack{
  width: 12%;
  font-size: 0.95rem;
  color: rgba(color(tan, dark), 0.5);

  .fa-chevron-right{
    top: 1px;
    left: 1px;
  }
}

.icon-nav-forward {
  font-size: 2rem;
  color: color(orange);
  &:hover {
            color: darken(color(orange), 10);
        }
}

.icon-nav-back {
  font-size: 2rem;
  color: color(orange);
  &:hover {
            color: darken(color(orange), 10);
        }
}

.store.even{
  border-bottom: 1px solid color(grey, light);
}

.store.odd{

}

.distance {
    display: inline-block;
    background-color: color(orange);
    padding: .5rem;
    font-size: .75rem;
    font-weight: 400;
    color: #fff;
    border-radius: 25px;
    letter-spacing: 1px;
    margin-left: 1rem;
}
