div(class="store-filter hidden")
  .store-filter__group
    h2 Store type
    .checkbox
      label(for="farmers_market") Farmer's market
      input(type="checkbox" name="farmers_market" value="farmers_market")
    .checkbox
      label(for="healthy_corner_store") healthy_corner_store
      input(type="checkbox" name="healthy_corner_store" value="healthy_corner_store")
