extends ./main.jade

block content
  div(class="list-header hidden")
    //- i(class="fa fa-filter")
    input(type="text" placeholder="Enter a Location" name="location-header" id="list-header-input")
    i(class="fa fa-search update-submit")
    i(class="fa fa-filter filter")

    include ./filter.jade
  #map(class="map form")
  #content
    div(class="location-form")
      h1 Food for Health
      form(id="find-location")
        div(id="location-search-input-container")
          input(type="text" ref="location" id="location-input" class="search"  placeholder="Enter a Location")
          button(id="geolocate-button" class="search-input-button-cap" )
        button(id="location-submit" type="submit" class="submit") Search

  #store-detail
  
