html
  head
    title Food4Health!
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
    block content
    script(src='/js/main.js')
