html
  head
    title Food4Health!
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block content
    script(src='/js/main.js')
